.container {
    margin: auto;
    width: 1200px;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-align-center {
    text-align: center;
}

.title {
    font-size: 80px;
    line-height: 106px;
    span {
        font-size: 24px;
        line-height: 1.75;
    }
}

.subTitle {
    font-size: 64px;
    line-height: 84px;
}

.darkBlack {
    background-color: $color-black;
    color: $color-white;
    a {
        color: $color-white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

/* padding-top */

.pt-7 {
    padding-top: $padding * 7;
}
.pt-8 {
    padding-top: $padding * 8;
}

/* padding-bottom */

.pb-8 {
    padding-bottom: $padding * 8;
}

/* margin-right */

.mr-2 {
    margin-right: $margin * 2;
}

/* margin-bottom */

.m-auto {
    margin: auto;
}

.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: $margin;
}
.mb-2 {
    margin-bottom: $margin * 2;
}
.mb-3 {
    margin-bottom: $margin * 3;
}
.mb-4 {
    margin-bottom: $margin * 4;
}
.mb-5 {
    margin-bottom: $margin * 5;
}
.mb-6 {
    margin-bottom: $margin * 6;
}
.mb-7 {
    margin-bottom: $margin * 7;
}
.mb-18 {
    margin-bottom: $margin * 18;
}
.mb-20 {
    margin-bottom: $margin * 20;
}